@{
    ViewData["Title"] = "SNOWSTUFF HOME";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SNOWSTUFF</h1>
    <img src="~/img/snowboarding.jpg" alt="Traditional Snowboard Image">
    <img src="~/img/zeppowell.jpeg" alt="Freestyle Snowboard Image">
    <p>
        Welcome to the thrilling world of snowboarding, where the mountains become your playground 
        and the snow is your canvas for adventure. Whether you're a seasoned rider seeking the adrenaline 
        rush of carving through fresh powder or a beginner eager to learn the basics, snowboarding offers an 
        exhilarating experience like no other. 
    </p>
    <p>
        At its core, snowboarding is about freedom and self-expression. 
        With each turn, jump, and trick, riders tap into their creativity and push their limits 
        against the backdrop of stunning mountain vistas. From the gentle slopes of beginner-friendly 
        resorts to the challenging terrain parks and backcountry trails, there's something for 
        everyone in the snowboarding community.
    </p>
    <p>
        But snowboarding is more than just a sport—it's a culture. 
        It's about camaraderie on the chairlift, sharing stories in the lodge, 
        and connecting with nature in its purest form. Whether you're shredding solo or 
        with a group of friends, the mountains offer a sanctuary where you can leave behind 
        the hustle and bustle of everyday life and immerse yourself in the beauty of the winter landscape.
    </p>
    <p>
        So whether you're a seasoned pro or a curious beginner, 
        come join us in the exhilarating world of snowboarding. Strap in, drop in, 
        and let the mountain be your guide as you carve your own path through the snow-covered slopes. 
        The adventure awaits, and the possibilities are endless.
    </p>
</div>
